body {
  @media(max-width: 1920px) {
  
  }
  width: 100%; /* Adjust the width as per your preference */
  margin: 0 auto; /* Center the container horizontally */
  padding: 20px; /* Add padding to create space inside the container */
  border: 4px solid #000; /* Black border around the container */
  text-align: center; /* Center the content within the container */
    
  }

  .center-me{
    @media(max-width: 1920px) {
  
    }
    text-align: justify; 
  -moz-text-align-last: center; 
  text-align-last: center;
    margin: 0;
  width: 450px;
  
  padding: 5px;
  
 
    
  }

  .img1 {
    @media(max-width: 1920px) {
  
    }
    background-color: transparent;
      height:146px;
      position: relative;
      top: -30px;
      left: 270px;
      border-radius:80%;
      -moz-border-radius:80%;
      -webkit-border-radius:80%;
      width:146px;
  }


footer {
  @media(max-width: 1920px) {
  
  }
    padding: 10px 10px;
  }
  
  /* Sets all link texts to white and puts margin to the left and right */
  
  footer a {
    @media(max-width: 1920px) {
  
    }
    color: white;
    margin: 0 10px;
  }


  footer a:hover {
    @media(max-width: 1920px) {
  
    }
    color: #9867C5;
    border-bottom: 2px solid #9867C5;
  }

  /* desktop and Under */

@media(max-width: 1920px) {
  
}

.biotext {
  @media(min-width: 320px) {
  
  }
  align-items: center;
  flex-wrap: wrap;
  border-radius: 1px;
  border-width: 1px;
  border-right: 1px;
  border-left: 1px;
  background-color: #8BC6EC;
background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
}

.toptext {
  @media(max-width: 1146px) {
  
  }
  align-items: center;
  flex-wrap: wrap;
  border-radius: 1px;
  border-width: 1px;
  border-right: 1px;
  border-left: 1px;
  background-color: #FBAB7E;
  background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);  
  
}

.portfoliopicture {
  @media(min-width: 420px) {
  
  }
  align-content:space-evenly;
  position: below;
  background-position: center;
  transform: scale(0.3);
    text-align: center; /* Center align the images within the container */
}

