body {
   
    
  }

  .center-me{
    text-align: justify; 
  -moz-text-align-last: center; 
  text-align-last: center;
    margin: 0;
  width: 450px;
  
  padding: 5px;
  
 
    
  }

  .img1 {
    background-color: transparent;
      height:146px;
      position: relative;
      top: -30px;
      left: 270px;
      border-radius:80%;
      -moz-border-radius:80%;
      -webkit-border-radius:80%;
      width:146px;
  }


footer {
    padding: 10px 10px;
  }
  
  /* Sets all link texts to white and puts margin to the left and right */
  
  footer a {
    color: white;
    margin: 0 10px;
  }


  footer a:hover {
    color: #9867C5;
    border-bottom: 2px solid #9867C5;
  }

  /* desktop and Under */

@media(max-width: 1920px) {
  
}